In [1]:
import pandas as pd # Data analysis and manipultion tool
import numpy as np # Fundamental package for linear algebra and multidimensional arrays
import tensorflow as tf # Deep Learning Tool
import os # OS module in Python provides a way of using operating system dependent functionality
import cv2 # Library for image processing
from sklearn.model_selection import train_test_split # For splitting the data into train and validation set

In [2]:
labels = pd.read_csv("Training_set.csv") # loading the labels
labels.head() #

      filename   label
0  Image_1.jpg    male
1  Image_2.jpg  female
2  Image_3.jpg  female
3  Image_4.jpg  female
4  Image_5.jpg    male

In [3]:
labels.tail()

            filename   label
9215  Image_9216.jpg    male
9216  Image_9217.jpg    male
9217  Image_9218.jpg    male
9218  Image_9219.jpg    male
9219  Image_9220.jpg  female

In [4]:
file_paths = [[fname, 'C:/Users/NEERAJ/Documents/working directory/BOOTCAMP/eye_gender_data/train/' + fname] for fname in labels['filename']]

In [5]:
# Confirm if number of images is same as number of labels given
if len(labels) == len(file_paths):
 print('Number of labels i.e. ', len(labels), 'matches the number of filenames i.e. ', len(file_paths))
else:
 print('Number of labels does not match the number of filenames')

Number of labels i.e.  9220 matches the number of filenames i.e.  9220

In [6]:
images = pd.DataFrame(file_paths, columns=['filename', 'filepaths'])
images.head()

      filename                                          filepaths
0  Image_1.jpg  C:/Users/NEERAJ/Documents/working directory/BO...
1  Image_2.jpg  C:/Users/NEERAJ/Documents/working directory/BO...
2  Image_3.jpg  C:/Users/NEERAJ/Documents/working directory/BO...
3  Image_4.jpg  C:/Users/NEERAJ/Documents/working directory/BO...
4  Image_5.jpg  C:/Users/NEERAJ/Documents/working directory/BO...

In [8]:
train_data = pd.merge(images, labels, how = 'inner', on = 'filename')
train_data.head()

      filename                                          filepaths   label
0  Image_1.jpg  C:/Users/NEERAJ/Documents/working directory/BO...    male
1  Image_2.jpg  C:/Users/NEERAJ/Documents/working directory/BO...  female
2  Image_3.jpg  C:/Users/NEERAJ/Documents/working directory/BO...  female
3  Image_4.jpg  C:/Users/NEERAJ/Documents/working directory/BO...  female
4  Image_5.jpg  C:/Users/NEERAJ/Documents/working directory/BO...    male

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_data['label'] = le.fit_transform(train_data['label'])

In [10]:
a = print(len(train_data))

9220

In [11]:
data = [] # initialize an empty numpy array
image_size = 100 # image size taken is 100 here. one can take other size too
for i in range(len(train_data)):

 img_array = cv2.imread(train_data['filepaths'][i], cv2.IMREAD_GRAYSCALE) # converting the image to gray scale

 new_img_array = cv2.resize(img_array, (image_size, image_size)) # resizing the image array
 data.append([new_img_array, train_data['label'][i]])

In [12]:
# image pixels of a image
data[5]

[array([[207, 207, 209, ..., 188, 189, 189],
        [207, 207, 208, ..., 189, 189, 188],
        [206, 207, 208, ..., 192, 189, 187],
        ...,
        [184, 184, 184, ..., 182, 183, 183],
        [184, 184, 185, ..., 181, 180, 179],
        [184, 184, 185, ..., 181, 178, 177]], dtype=uint8),
 1]

In [13]:

np.random.shuffle(data)

In [14]:
x = []
y = []
for image in data:
 x.append(image[0])
 y.append(image[1])

# converting x & y to numpy array as they are list
x = np.array(x)
y = np.array(y)

In [15]:
np.unique(y, return_counts=True)

(array([0, 1]), array([4162, 5058], dtype=int64))

In [16]:
x = x.reshape(-1, 100, 100, 1)

In [17]:
# split the data
X_train, X_val, y_train, y_val = train_test_split(x,y,test_size=0.25,train_size = None, random_state = 42)

In [18]:
cnn = tf.keras.models.Sequential([
tf.keras.layers.Conv2D(filters=32, kernel_size=(3, 3), activation='relu', input_shape=(100, 100, 1)),
tf.keras.layers.MaxPooling2D((2, 2)),

tf.keras.layers.Conv2D(filters=64, kernel_size=(3, 3), activation='relu'),
tf.keras.layers.MaxPooling2D((2, 2)),

# tf.keras.layers.Flatten(input_shape=(100, 100, 1)),
tf.keras.layers.Flatten(),
tf.keras.layers.Dense(64, activation='relu'),
tf.keras.layers.Dense(131, activation='sigmoid')
])

In [19]:
cnn.compile(optimizer='adam',
loss='sparse_categorical_crossentropy',
metrics=['accuracy'])

In [ ]:
cnn.fit(X_train, y_train, epochs=2, batch_size=1)

Epoch 1/2
3770/6915 [===============>..............] - ETA: 2:28 - loss: 1.5185 - accuracy: 0.6422

In [ ]:
cnn.evaluate(X_val, y_val)

In [ ]:
# Loading the order of the image's name that has been provided
test_image_order = pd.read_csv("/content/content/fruits_data/Testing_set.csv")
test_image_order.head()

In [ ]:
file_paths = [[fname, '/content/content/fruits_data/test/' + fname] for fname in test_image_order['filename']]

In [ ]:
# Confirm if number of images is same as number of labels given
if len(test_image_order) == len(file_paths):
 print('Number of image names i.e. ', len(test_image_order), 'matches the number of file paths i.e. ', len(file_paths))
else:
 print('Number of image names does not match the number of filepaths')

In [ ]:
test_images = pd.DataFrame(file_paths, columns=['filename', 'filepaths'])
test_images.head()

In [ ]:
test_pixel_data = [] # initialize an empty numpy array
image_size = 100 # image size taken is 100 here. one can take other size too
for i in range(len(test_images)):

 img_array = cv2.imread(test_images['filepaths'][i], cv2.IMREAD_GRAYSCALE) # converting the image to gray scale

 new_img_array = cv2.resize(img_array, (image_size, image_size)) # resizing the image array

 test_pixel_data.append(new_img_array)

In [ ]:
test_pixel_data = np.array(test_pixel_data)

In [ ]:
test_pixel_data = test_pixel_data.reshape(-1, 100, 100, 1)

In [ ]:
pred = cnn.predict(test_pixel_data)

In [ ]:
# The predicted values are the probabilities value
pred[0]

In [ ]:
prediction = []
for value in pred:
 prediction.append(np.argmax(value))

In [ ]:
predictions = le.inverse_transform(prediction)

In [ ]:
res = pd.DataFrame({'filename': test_images['filename'], 'label': predictions}) # prediction is nothing but the final predictions of your model on input features of your new unseen test data
res.to_csv("submission.csv", index = False) # the csv file will be saved locally on the same location where this notebook is located.